<html lang="en">
   
  <head>
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>
   <!-- Style CSS -->
    
	<link rel="stylesheet" href="Style.css">
    <script src="cart.js"></script>
	
  </head>
  <body>
  
  <!--Navigation Bar-->
	<div class="topnav">
		<a class="active" href="index.html">Home</a>
		<a href="Store.html">Store</a>
		<a href="Checkout.html">Checkout</a>
		<a href="About.html">About</a>
	</div>
	<hr class="rounded">
	<br>
	
	<!--Heading-->
	<center>
	<h1 style="border-width:5px; border-style:solid; border-color:#FFC0CB; padding: 0.5em;">Store</h1>
	</center>
      

	  
    <main>
	<!--Cart--> 
    <div class="medium-4  columns">
        <div class="cart" id="mydiv1">
            <h1>Cart items</h1>
            <div class="row">
                <div class="medium-6 columns">
                    <button class="tiny secondary" id="clear">Clear the cart</button>
                </div>
                <div class="medium-6 columns">
                    <button class="tiny disabled" onclick="location.href='Checkout.html'" type="button">Checkout</button>
                </div>
            </div>
            <div id="cartItems">Loading cart...</div>
            Total price: <strong id="totalPrice">0 $</strong>
        </div>
		
	<!--Items-->
    </div>
    <div class="medium-8 columns">
        <h1>Products</h1>
        <div class="products">
            <div class="product medium-4 columns" data-name="Death by Chocolate Cake" data-price="120.00" data-id="0">
                <img src="./img/cakes.jpg" alt="Death by Chocolate Cake" />
                <h3>Death by Chocolate </h3>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="Red Velvet Cake" data-price="120.00" data-id="1">
                <img src="./img/redv.jpg" alt="Red Velvet Cake" />
                <h3>Red Velvet Cake</h3>
				<p> Rich filling with vanilla icing.</p>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="Cheesecake" data-price="220.00" data-id="2">
                <img src="./img/cheesecake.jpeg"alt="Peach" />
                <h3>Cheesecake</h3>
				<p> Velvety, rich and sweet with a thin sour cream cap on top, it's the perfect balance to this rich cake. </p>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
		 	<div class="product medium-4 columns" data-name="Assoerted Cupcakes" data-price="80.00" data-id="3">
                <img src="./img/AC.jpg" alt="Assoerted Cupcakes" />
                <h3>Assoerted Cupcakes</h3>
				<p> (8 per batch) </p>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
			<div class="product medium-4 columns" data-name="Cookies" data-price="45.00" data-id="4">
                <img src="./img/cookies.jpg"alt="Cookies" />
                <h3> Chocolate Cookies</h3>
				<p> (12 Cookies per batch) Chewy on the inside and crispy on the out. </p>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
			<div class="product medium-4 columns" data-name="Fudge" data-price="30.00" data-id="5">
                <img src="./img/fudge.jpg"alt="Fudge" />
                <h3>Fudge</h3>
				<p> (160g) Made with delicious Carnation Condensed Milk. </p>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
			<div class="product medium-4 columns" data-name="Blueberry Tart" data-price="120.00" data-id="6">
                <img src="./img/blueberry.jpg"alt="Blueberry Tart" />
                <h3>Blueberry Tart</h3>
				<p> This tart has a creamy filling, a buttery shortbread crust, and a homemade blueberry sauce swirl. </p>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
			<div class="product medium-4 columns" data-name="Chocolate Muffins" data-price="60.00" data-id="7">
                <img src="./img/chocmuffin.jpg"alt="Chocolate Muffins" />
                <h3>Chocolate Muffin</h3>
				<p> (6 per batch) Fluffy with choc chips on top. </p>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
			<div class="product medium-4 columns" data-name="Chocolate Declares" data-price="80.00" data-id="8">
                <img src="./img/chocdeclear.jpg"alt="Chocolate Declares" />
                <h3>Chocolate Declares</h3>
				<p> (8 per batch) Homemade choux pastry, filled with a creamy pudding and toped with chocolate </p>
                <input type="text" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
        </div>
    </div>
</div>

<!--Cart js-->
<script type="text/template" id="cartT">
  <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
<%= item.count %> item<% if(item.count > 1)
{%>s
<%}%> for R<%= item.total %></span > </div>
<% }); %>
</script>



    </main>
      
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
	<script  src="./js/script.js"></script> 
	  
  </body>
</html>
